[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-dark = "*"
django-crispy-forms = "*"
django-environ = "*"
requests = "*"
django-allauth = "*"
pillow = "*"
django-heroku = "*"
gunicorn = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.9"
