{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags%}

<div class="container mt-5 shadow" style="width:60%; background-color: #DBD3D8; border-radius: 20px;">

    <div class="row justify-content-center mt-5" style="color:#6D6875">
        <div class="col-md-6" style="text-align: center;">
            <h1 style="margin-bottom: 20px;">Password reset complete</h1>
            <p style="font-size: 13px;">Your password has been reset. You may go ahead and log in now.</p>
            <div class="img__btn mb-2" style="background:transparent; text-transform:uppercase; font-size:15px; cursor:pointer; border:2px solid white; border-radius: 30px; width:30%; margin:0 auto; padding:3px;">
                <a href="{% url 'login' %}" style="text-decoration: none; color:white"> Sign In</a> 
            </div>
        </div>
    </div>

</div>
{% endblock %}